h3.detail { color:#ffad33;font-weight:bold;font-family:Calibri;font-size:25 }
p.apidetail{color:#cc8800;font-weight: bold; font-family: Verdana; font-size:15}
p.calendarevents { color:#ffad33;font-weight:bold;font-family:Calibri;font-size:25 }